<ion-header >
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-text-center">
      <h1><b>CRUD Usuario</b></h1>
    </ion-title>
  </ion-toolbar>
</ion-header><br><br>


<ion-row>
  <ion-col class="ion-text-center">
    <ion-label color=""><b>Ingrese su Nombre Completo</b></ion-label>
    <ion-item class="ion-text-center">
      <ion-input type="text" hidden [(ngModel)]="idUsuario"></ion-input>
      <ion-input type="text" [(ngModel)]="nombreCompleto"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-label color=""><b>Ingrese Carnet</b></ion-label>
    <ion-item class="ion-text-center">
      <ion-input type="text" [(ngModel)]="carnet"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-label color=""><b>Ingrese Correo</b></ion-label>
    <ion-item class="ion-text-center">
      <ion-input type="text" [(ngModel)]="correo"></ion-input>
    </ion-item>
  </ion-col>
  <ion-col class="ion-text-center">
    <ion-label color=""><b>Ingrese Celular</b></ion-label>
    <ion-item class="ion-text-center">
      <ion-input type="text" [(ngModel)]="celular"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-list class="ion-text-center ion-margin-bottom">
  <ion-row>
    <ion-col>
      <ion-button id="agregarUsuario" *ngIf="!swGuardarCambios" (click)="addUsuario()">Agregar Usuario</ion-button>
      <ion-button *ngIf="swGuardarCambios" color="warning" (click)="guardarCambios()">Guardar Cambios</ion-button>
    </ion-col>
  </ion-row>
</ion-list>

<h1 class="ion-text-center"><b>USUARIOS REGISTRADOS</b></h1><br>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="4" *ngFor="let item of listUsuario">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <ion-card-title><b>Id Usuario: </b>{{item.id}}</ion-card-title>
            <ion-card-title><b>Nombre Completo: </b>{{item.nombreCompleto}}</ion-card-title>
            <ion-card-title><b>Correo: </b>{{item.correo}}</ion-card-title>
            <ion-card-title><b>Carnet: </b>{{item.carnet}}</ion-card-title>
            <ion-card-title><b>Celular: </b>{{item.celular}}</ion-card-title>
          </ion-card-header>
          <ion-button size="small" color="warning" fill="clear" (click)="updateUsuario(item)">Editar</ion-button>
          <ion-button size="small" color="danger" fill="clear" (click)="deleteUsuario(item)">Eliminar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
